.font{
    font-family: 'Roboto', sans-serif;
}
.fundo{
    padding-top: 60px;
    background-color:#fff;
}
.campo{
    padding-top: 20px;
    margin-top: 30px;
    width: 100%;
}
#checkbox2{
    margin-top: 0%;
}
#altura{
   margin-top: 10px;
}