
iframe {
  border:none;
  width:100%;
  height:750px;
  overflow: none;
 
}

.tittle {
  text-align: center;
  padding-top: 2%;
}

@media only screen and (max-width: 768px) {
  iframe {
    margin-left: 15%;
    width: 85%;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .tittle {
    text-align: center;
    padding-top: 5%;
  }
}